.whatsapp-btn {
  position: fixed;
  top: 90%;
  right: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #25d366;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem;
  transition: all 300ms ease;
  z-index: 2;

  &:hover {
    background-color: #25d365dc;
  }
  .icon {
    fill: #fff;
    font-size: 2rem;
  }
}
