@import "../../Styles/variables";

.all-product-section {
  height: 100%;
  .product-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    row-gap: 2rem;
  }
  @media (max-width: 870px) {
    width: 100%;
    margin: 0 auto;
    .product-wrapper {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (max-width: 650px) {
    width: 90%;
    .product-wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (max-width: 480px) {
    width: 100%;
    padding: 0 1rem;
  }
  @media (max-width: 398px) {
    padding: 0;
  }
  @media (max-width: 386px) {
    margin-bottom: 3rem;
  }
  @media (max-width: 378px) {
    margin-bottom: 3rem;

    .product-wrapper {
      grid-template-columns: 1fr;
    }
  }
}

.products-container {
  background-color: #fff;
  width: 200px;
  height: 200px !important;
  margin: 0;
  padding: 0;
  height: 100%;
  transition: all 300ms ease;
  overflow: hidden;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);

  .product-image {
    width: 100%;
    height: 70%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 200px;
      height: 200px;
      object-fit: contain;
      transition: all 300ms ease;
      background-color: #fff;
    }
  }
  &:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.24);
    .product-detail {
      .sub-category {
        color: $primaryGreenColor;
      }
      .view-product {
        background-color: $primaryAccentGreenColor;
      }
    }
  }
  @media (max-width: 480px) {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    .product-image {
      img {
        width: 150px;
        height: 150px;
      }
    }
  }

  .product-details {
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    position: relative;
    height: calc(100% - 70%);
    .category {
      font-size: 0.675rem;
      color: $textColor;
      padding-left: 0.5rem;
      text-transform: capitalize;
    }
    .sub-category {
      padding-left: 0.5rem;
      font-size: 0.775rem;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: all 300ms ease;
      text-transform: capitalize;
    }
  }
}
