@import "../../Styles/variables";

.navigation-routes {
  @media (max-width: 630px) {
    padding-left: 1.5rem;
    font-size: 0.87rem;
  }
  @media screen and (max-width: 400px) {
    display: none;
  }
  a {
    text-transform: capitalize;
    transition: color 300ms ease;
    font-size: 0.875rem;
    letter-spacing: 1px;
    color: #fff;

    @media (max-width: 800px) {
      text-align: center;
      font-size: 0.87rem;
      line-height: 1.8rem;
    }

    &:hover {
      color: #000;
    }
  }
  &.active {
    color: #000;
  }

  span {
    color: #fff;
  }
}
